node_modules
.next
dist
coverage
.env
.env.local
tsconfig.tsbuildinfo
*.db
*.db-journal
public/uploads/original/*
public/uploads/generated/*
!public/uploads/original/.gitkeep
!public/uploads/generated/.gitkeep
